.board {
  border: 2px solid black;
  margin: auto;
  width: fit-content;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
}

.cell.R {
  background-color: red;
}

.cell.V {
  background-color: white;
}

.cell.P {
  background-color: black;
}

.cell.C {
  background-color: blue;
}